@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import "./header.css";
@import "./normalise.css";
@import "./first-screen.css";
@import "./vine.css";
@import "./deskription.css";
@import "./harvest.css";
@import "./degustation.css";
.container{
    padding-left: 10px;
    padding-right: 10px;
}
button:hover{
    transform: scale(110%);
}
button{
    border: none;
    transition: 0.3s;
}
button:active{
    transform: scale(1);
    transition: 0.1s;
}